# =========================
# Geral
# =========================
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
.idea/
.vscode/

# =========================
# Backend - Java
# =========================
back/target/
back/build/
back/out/

# Maven
back/.mvn/wrapper/maven-wrapper.jar

# IntelliJ / Eclipse / NetBeans
back/.classpath
back/.project
back/.settings/
back/bin/
back/.idea/
back/*.iml
back/nbproject/private/
back/nbbuild/
back/dist/
back/nbdist/

# Logs
back/logs/
back/*.log

# =========================
# Frontend - React
# =========================
front/node_modules/
front/build/
front/dist/
front/.cache/
front/.parcel-cache/

# Environment files
front/.env
front/.env.local
front/.env.development.local
front/.env.test.local
front/.env.production.local

# Package manager logs
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/pnpm-debug.log*

# Coverage
front/coverage/

# =========================
# Arquivos sensíveis / variáveis de ambiente
# =========================
back/.env
back/.env.*
front/.env.*
*.env
